:root {
  --gray: #3e4141;
  --white: #b6b1b1;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}
.pokemonList{
  min-height: 450px;
}
.item {
  text-align: center;
}

nav{
  margin-bottom: 50px;
}
.card .card-content {
  min-height: 100px;
  padding: 0;
}

p {
  color: var(--white);
  font-size: 15px;
}
h3 {
  font-family: fantasy;
  color: var(--gray);
  font-size: 30px;
}


@media screen and (max-width: 720px) {
  h3 {
    font-size: 16px;
  }
  p {
    font-size: 8px;
  }
  img{
    width: 50px;
    height: 80px;
  }
}
